@charset "UTF-8";
/*
  Project: Personal Website Project
  Version: V2
  Author: Gregory Hablutzel
  Date:   02-05-19
  Filename: styles.css
*/
/* M3LO1 Demonstrate the use of a CSS reset style sheet (CSS, note where you have CSS reset rules) 
   Here I reset some basic CSS styles, back to sane deaults. 
   This is because not all browsers have the same defaults.  
   They are at the top of my first CSS file, so that by precedence, I can overwrite these rules with later rules in my CSS file.
*/

.images, .textFlex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
     /* flex-wrap: wrap;*/
                         
}

.flexChild {
    text-align: center;
    -webkit-flex: 1 1 100px;
    flex: 1 1 100px;
}

.flexChild img {
    /*display: block;*/
   /* width: 100%;*/
}

img {
    width: 100%;
}

/* default order is 0 
   lower means higher priority
*/
#first {
    order: -1;
    -webkit-flex: 5 5 50px;
    flex: 5 5 50px;
}

.textFlex div {
    margin-left: 5px;
    margin-right: 5px;
}


.data {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;

}

.data div{
    border: 3px double rgb(20, 20, 53);    */
  /* margin-left: 5px;
    margin-right: 5px;
 */
    -webkit-flex: 1 1 200px;
    flex: 1 1 200px;
}
#grow {
    -webkit-flex: 3 1 20px;
    flex: 3 1 20px;  
}
